/* Set padding to keep content from hitting the edges */
.body-content {
    margin-top: 15px;
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}
form {
    display: flex;
    width: 850px;
}
button {
    position: absolute;
    margin-left: 46%;
}
input {
    width: 763px !important;
}
/* HTML: <div class="loader"></div> */
.loader {
    width: 0;
    height: 22px;
    border-radius: 20px;
    color: #514b82;
    border: 2px solid;
    position: relative;
    overflow: hidden;
    display:none;
}

    .loader::before {
        content: "";
        position: absolute;
        inset: 0;
        background: currentColor;
        animation: none;
    }

@keyframes progress {
    from {
        width: 0;
    }

    to {
        width: 100%;
    }
}
.generatedUrl{
    display:none;
}
.btn-primary {
    --bs-btn-color: #fff !important;
    --bs-btn-bg: #616161 !important;
}
.shortenUrlForm {
    flex-direction: column;
    display: flex;
    align-items: end;
    justify-content: end;
}

/* Basic styling for the popup */
#ctaBanner {
    display: none; /* Hidden by default */
    position: fixed;
    bottom: 10px;
    right: 10px;
    background-color: #fff;
    border: 1px solid #ccc;
    padding: 10px;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.2);
    z-index: 1000;
}

    #ctaBanner button {
        background-color: #007bff;
        color: #fff;
        border: none;
        padding: 5px 10px;
        cursor: pointer;
    }

